@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&family=Poiret+One&display=swap');

/* Browser reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* Reset so 1 rem = 10 px */
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 1.6rem;
    font-family: 'Muli';
    color: white;
    overflow: hidden;
}

nav {
    width: 40rem;
    max-width: 40%; /* Don't let it get too big when zoomed in */
    position: absolute;
    z-index: 1;
    margin-left: 2rem;
    height: 100%;
}

input[type="range"] {
    transform: rotate(-90deg);
    z-index: 1;
    /* position: absolute; */
    height: 5%;
    float: right;
    margin-top: 6rem;
    /* padding-left: 10rem; */
    display: none;
}

h1 {
    display: inline-block; /* Background less wide than nav */
    font-size: 2rem;
    background: #e5989b;
    margin-bottom: 2rem;
    padding: 1rem 5rem 1rem 1rem;
    font-family: 'Poiret One';
    width: auto;
    text-align: left;
    height: 7rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.5rem;
}

#searchbar {
    height: 6rem;
    background: #b5838d;
}

input[type="search"] {
    width: calc(100% - 7rem);
    border: none;
    height: 4rem;
    padding: 0.5rem 1.5rem;
    margin: 1rem;
    color: white;
    background-color: #e5989b;
    font-size: 1.5rem;
    opacity: 1; /* Fix faded colour in Firefox */
    box-sizing: border-box;
    font-family: 'Muli';
    transition: background 0.1s ease-in-out;
}

input[type="search"]::placeholder {
    color: white;
    opacity: 1; /* Fix faded colour in Firefox */
}

input[type="search"]:focus {
    outline: none;
    color: white;
    background: #e7a2a5;
    opacity: 1;
}

#submit {
    display: inline-block;
    position: relative;
    height: 4rem;
    width: 4rem;
    border: none;
    top: 0.27rem;
    margin-left: -0.4rem;
    text-decoration: none;
    background: #e5989b;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    transition: background 0.1s ease-in-out, 
                transform 0.1s ease;
}

#submit:hover,
#submit:focus {
    background: #ce888b;
}

#submit:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#submit:active {
    transform: scale(0.95);
}

#submit-edit {
    display: inline-block;
    position: relative;
    height: 3rem;
    border: none;
    top: 0.27rem;
    padding: 0.5rem 1.5rem;
    margin-left: 3.8rem;
    margin-top: 0.6rem;
    text-decoration: none;
    background: #e5989b;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    transition: background 0.1s ease-in-out, 
                transform 0.1s ease;
}

#submit-edit:hover,
#submit-edit:focus {
    background: #ce888b;
}

#submit-edit:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#submit:active {
    transform: scale(0.95);
}

#outer {
    height: calc(100% - 17rem);
}

#selected-station {
    display: none;
}

#edit-station {
    display: none;
}

input[type="text"] {
    width: calc(100% - 7rem);
    border: none;
    height: 3rem;
    padding: 0.5rem 1.5rem;
    margin: 1rem;
    color: white;
    background-color: #e5989b;
    font-size: 1.5rem;
    opacity: 1; /* Fix faded colour in Firefox */
    box-sizing: border-box;
    font-family: 'Muli';
    transition: background 0.1s ease-in-out;
}

input[type="text"]::placeholder {
    color: white;
    opacity: 1; /* Fix faded colour in Firefox */
}

input[type="text"]:focus {
    outline: none;
    color: white;
    background: #e7a2a5;
    opacity: 1;
}

#dynamic {
    background: #b5838d;
    height: auto;
    max-height: 100%;
    overflow: auto;
    padding: 0 1rem;
}

nav img {
    position: relative;
    width: 2rem;
    top: 0.8rem;
    margin-right: 0.8rem;
}

button img {
    top: 0;
    width: 2rem;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding-bottom: 1rem;
}

main {
    width: 100%;
    height: 100%;
    right: 0;
    position: absolute;
    overflow: hidden;
}

svg {
    --scale: 2;
    --dragX: 0;
    --dragY: 0;
    /* font-family: Arial, 'Hammersmith One'; */
    font-size: 0.5rem;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    transform: translate(var(--dragX), var(--dragY)) scale(var(--scale));
    /* background-color: #ffcdb2; */
}

svg:hover {
    cursor: move;
}